html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
  background-position: left top;
  background-image: url(../images/kitchen.jpeg);
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #57340f;
}

#container{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-height: 100%;
	position:relative;
}

#heading{
	padding-bottom: 40px;
	padding-top: 60px;
    background: rgba(204, 153, 102, .7);
}

.brown-text{
	color: #57340f;
	font-weight: 900;
	padding-top: 20px;
}

#logo{
	height: 225px;
	width: 225px;
}

h1{
	font-size: 28pt;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
}

/**
 * checklist
 */


.checklist{
	padding-top: 125px;
	padding-bottom: 400px;
	font-family: 'Source Sans Pro', sans-serif;
	vertical-align: center;
}

ol {
	background-color: #ffffff;
    border-radius: 15px;
    margin: 15px auto;
    padding: 40px;
    max-width: 600px;
    box-shadow: 0px 0px 34px -2px rgba(0,0,0,0.75);
}

li{
    background-color: #ff9933;
    border-radius: 15px;
    display: table;
    font-size: 16pt;
    color: #ffffff;
    height: 30px;
    line-height: 24pt;
    margin: 15px auto;
    padding: 0 15px;
    min-width: 500px;
    text-align: center;
}


.input {
background-color: #ffdc99;
font-size: 14pt;
color: #cc8800;
}

.crossed {
background-color: #ffbf00;
font-size: 14pt;
color: #57340f;
text-decoration: line-through;
font-style: italic;

}

.delete{
	cursor: pointer;
	margin-top: 5px;
	float: left;
	height: 22px;
	width: 22px;
	background: url('../images/x-mark.png');
}
.cross-off{
	cursor: pointer;
	margin-top: 5px;
	float: right;
	height: 22px;
	width: 22px;
	background: url('../images/check-mark.png');
}
.other-delete{
	cursor: pointer;
	margin-top: 5px;
	float: left;
	height: 22px;
	width: 22px;
	background: url('../images/alt-x-mark.png');
}
.add{
	cursor: pointer;
	margin-top: 5px;
	float: right;
	height: 22px;
	width: 22px;
	background: url('../images/add.png');
}
/**
 * Footer Section
 */

.footer  {
text-align: center;
padding-top: 30px;
background-color: #57340f;
color: #ffbf00;
position:absolute;
bottom: 0;
width: 100%;
height: 270px; 
}


